@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
:root{
    --main-bg-color: #2874f0;
}
*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    background-color: var(--main-bg-color);
    /* height: 8vh; */
    align-items: center;
    margin: 0;
    padding: 0;

    
} 
nav{
    display: flex;
     margin: 0px 0px 1vh 0px;
    width: 100vw;
    height: auto;
    
}
.logo
{
    display: flex;
    align-items: center;
    
}
.logo img
{
    
    width:5vw;
    height: 8vh;
    padding: 0px 1.5vw;
    margin: 0;
}
nav ul{
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    
    align-items: center;
   
}
nav ul li{
    display: flex;
    list-style: none;
    padding: 0px 1.5vw;
   
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
nav ul li a:hover{
    
    font-weight: bold;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
.search
{
    display: flex;
    justify-content: center;
    align-items: center;
    width:35vw;
    margin: 0;
    padding: 0;
}
.search input{
    display: flex;
    height: 4vh;
    width:35vw;
    border-radius: 5px;
    margin: 0px -3vw 0px 0.6vw;
    padding: 0px 0px;
}
.container
{
   

    /* height: calc(100vh - 10vh - 12vh); */
    width:100vw;
    
}
.slider
{
    display:flex;
    justify-content: center;
    align-items: center;

    max-height: 15vh;
    width:100vw;
    margin: 2vh auto 2vh auto;
    padding: 0px;
    
   
}
.slider img
{
    display:flex;
    width: 50vw;
    height: 15vh;
}
.slider img:hover{
   transform: scale(1.1,1.1);
}
.card{
     
    padding: 1vw 2vw;
    max-width:100vw;
    margin: auto;
    background-color:aliceblue ;
    /* background-color: aqua; */
}
.card h3
{
    margin: 1vh 0px 0px 0px;
    background-color: white;
    padding: 0.5vh 0px;
}
.cards
{
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    
    
}
.card-item
{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
 max-width:15vw;
 margin:0px 2vw;
 padding: 0.5vh 0px;
 
 /* background-color: brown    */
}
.card-item:hover
{
    transform: scale(1.1,1.1);
    
}

.card-item p
{
    text-align: center;
    font-weight: bold;
}


footer{
    height: 12vh;
    background-color: var(--main-bg-color);;
    color: white;
    font-family: 'Lato', sans-serif;
}